html, body {
	height: 100%;
}

/* Carousel Styling */

/* Carousel Indicators */
.carousel-indicators {
	position: fixed;
	padding-bottom: 75px;
/*	background-color: red;*/
}

.carousel-indicators li {
    background-color: darkgray;
    border: none;
    margin: 0px 7px;
}

.carousel-indicators .active {
    background-color: #595959;
    margin: 0px 7px;
}

.carousel-text {
	position: fixed;
	padding-bottom: calc(100% - 100px);
}

/* Carousel Arrows */
.carousel-control {
	position: fixed;
}

/* Getting rid of default gradient behind left/right arrows */
.carousel-control.left, .carousel-control.right {
	color: gray;
    background-image: none;
    text-shadow: none;
    font-size: 20px;
}

/* Hides the first left arrow */
.left {
	display: none;
}

/* Page Container */
.page {
	width: 60%;
	margin: 0px auto;
	height: calc(100% - 100px);
}

/* Landing Page */
/*.landingContent {
	margin: 0px auto;
	margin-top: 10%;
	width: 90%;
	text-align: center;
}*/

/* About */
.aboutImage {
	padding-top: 10%;
	text-align: center;
}

.aboutImage img {
	width: 45%;
}

.aboutBio {
	width: 70%;
	padding-top: 50px;
	margin: 0px auto;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}

/* Resume */