/* put font copy here IMPORT only */

#background-image img {
	width: 100%;
}

.toolbar {
	background-color: white;
	height: 30px;
	text-align: right;
	vertical-align: middle;
}


.toolbar-all-words {
	font-size: 1em;
	font-weight: bold;
	font-family: helvetica;
	color: #f26c4f;
}


.toolbar-words {
	color: #f26c4f;
	text-decoration: none;
	background-color: none;
	display: inline;
}

.toolbar-words:last-child {
	padding-right: 15px;
}

.toolbar-words:hover {
	color: #2c3e50;
}

.sec2 {
	background-color: #D3D3D3;
	height: 20em;
	width: 100%;
}

.sec2-words {
	text-align: center;
	font-family: helvetica;
	padding: 3em;
	color: #f26c4f;

}

.bio {
	height: 20em;
	margin: 0;
	width: 100%;
	color: black;
	background-color: #ecf0f1;
}

.bio-left {
	height: 16em;
	padding-top: 4em;
	display: inline-block;
	border-right-style: solid;
	border-right-width: 0.20em;
	width: 25%;
	text-align: center;
	font-family: helvetica;
	float: left;
}

.circle-image {
	border-radius: 50%;
	width: 8em;
	height: 8em;
	border: solid;
	border-color: #f26c4f;
}

.bio-left-words {
	padding-top: 1.5em;
	color: #f26c4f;
}

.bio-right {
	padding-top: 3em;
	padding-right: 6em;
	display: inline-block;
	width: 60%;
	float: right;
	font-family: helvetica;
}

h1 {
	color: #f26c4f;
}

.resume {
	padding-left: 14em;
	padding-top: 4em;
}
