html, body {
	height: 100%;
}

/* Temporary Banner */
.banner {
	width: 100%;
	background-color: lightyellow;
	padding: 13px 0px 13px 0px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	z-index: 100;
	color: gray;
}

.banner:hover {
	color: black;
}

.banner-close {
	margin: 0px 5px 0px 5px;
	font-size: 10px;
}

/* Carousel Styling */

/* Carousel Indicators */
.carousel-indicators {
	position: fixed;
	bottom: 8%;
}

.carousel-indicators li {
    background-color: darkgray;
    border: none;
    margin: 0px 20px;
}

.carousel-indicators .active {
    background-color: #595959;
    margin: 0px 20px;
}

.carousel-text-container {
    position: fixed;
    bottom: 4%;
    width: 100%;
    text-align: center;
    padding-right: 25px;
}

.carousel-text-container li {
	list-style-type: none;
	color: #595959;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0px 7px 0px 7px;
	display: inline-block;
}

/* Carousel Arrows */
.carousel-control {
	position: fixed;
}

/* Getting rid of default gradient behind left/right arrows */
.carousel-control.left, .carousel-control.right {
	color: gray;
    background-image: none;
    text-shadow: none;
    font-size: 20px;
}

span.icon.icon-prev, span.icon.icon-next {
	font-size: 40px;
}

/* Hides the first left arrow */
.left {
	display: none;
}

/* Page Container */
.page {
	width: 60%;
	margin: 0px auto;
	height: calc(100% - 100px);
}

/* Landing Page */
.landingContent {
	margin: 0px auto;
	margin-top: 3%;
	width: 90%;
	text-align: center;
}

/* About */
.aboutImage {
	padding-top: 12%;
	text-align: center;
}

.aboutImage img {
	width: 45%;
}

.aboutBio {
	width: 60%;
	padding-top: 50px;
	margin: 0px auto;
	font-family: 'Roboto', sans-serif;
}

/* Resume */
.resume {
	text-align: center;
	margin-top: 7%;
}

.resume img {
	width: 100%;
	border: solid black 1.5px;
}

.resumeLinks {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 13px;
	font-family: 'Robot', sans-serif;
}

.downloadResume {
	margin: 5px 0px 5px 0px;
}

.downloadResume a {
	color: #265860;
}

.downloadResume a:hover {
	text-decoration: none;
	color: gray;
}

.otherLinks {
	margin: 5px 0px 5px 0px;
	width: 310px;
}

.otherLinks a {
	color: #265860;	
}

.otherLinks a:hover {
	color: gray;
}

.otherLinks a:hover, .otherLinks a:active, .otherLinks a:visited {
	text-decoration: none;
}
